[submodule "external/cpr"]
	path = external/cpr
	url = https://github.com/whoshuu/cpr/
[submodule "external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "external/tinyformat"]
	path = external/tinyformat
	url = https://github.com/c42f/tinyformat.git
[submodule "external/libasio"]
	path = external/libasio
	url = https://salsa.debian.org/markus/libasio.git
[submodule "external/tclap"]
	path = external/tclap
	url = https://github.com/mirror/tclap.git
